@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;

}

body{
    background-color: #f5f5f5;
}

// :root{
//     --nav-color:#f85606;
// }
$nav-color:#f85606;
$gb-font: 'Roboto', sans-serif;
$gb-text:rgb(239, 239, 239);
$gb-black-text:rgb(83, 83, 83);




button{
    border: none;
    border-radius: 5px;
    background-color: transparent;
}
input{
    border: none;
    outline: none;
    &:focus{
        outline: none;
    }

}


.daraz_homepage{
    // Navigation
    .navigation_main{
        padding: 0px 100px 0px 100px;
        height: 100px;
        background-color: $nav-color;
        .navigation_size_manager{


            .top_navigation{
                // border: 2px solid white;
                display: flex;
                position: relative;
                padding: 2px;
                padding-left: 5px;
                justify-content: space-between;
                .left_nav{
                    ul{
                        display: flex;
                        flex-direction: row;
                        column-gap: 30px;
                        height: 20%;
                        li{
                            color: rgb(227, 227, 227);
                            font-size: 14px;
                            font-weight:600;

                        }
                    }
                }
                .save_more{
                    button{
                        background-color: rgba($color: black, $alpha: 0.5);
                        color: white;
                    }
                }
                
            }
            .main_navigation{
                // border: 2px solid black;
                padding: 2px;
                display: flex;
                justify-content: space-between;
                column-gap: 10px;
                margin-top: 10px;
                .navs{
                    // border: 2px solid white;
                    display: flex;
                    place-items: center;
                }
                .logobox{
                    img{
                        max-height: 50px;
                    }
                }
                .search_box{
                    width: 60%;
                    input{
                        width: 100%;
                        height: 80%;
                        border-radius: 10px;
                        font-size: 16px;
                        padding: 10px;
                    }
                }
                .login_signup_nav{
                    color: white;
                }
                .login_nav,.signup_nav{
                    padding: 2px;
                    display: flex;
                    place-items: center;
                    border-radius: 8px;
                    width: 100px;
                    place-content: center;
                    height: 40px;
                    &:hover{
                        background-color: rgba($color: black, $alpha: 0.2);
                    }
                    p{
                        color: white;
                        display: flex;
                        place-items: center;
                        font-size: 14px;
          
                    }
                }
                .signup_nav{
                }

                .language{
                    span{
                        display: flex;
                        color: white;
                        place-items: center;
                    }
                }
                .cart{
                    span{
                        color: white;
                    }
                }
                
            }
        }
    }


    // Home

    .main_homepage_container{
        margin-top: 20px;
        // border: 5px solid black;
        height: 450px;
        padding: 0px 100px 0px 100px;
        .home_size_manager{
            height: 100%;

            // Categories and Carasoul in homepage
            .cat_car{
                // border: 5px solid blue;
                height: 100%;
                display: flex;
                column-gap: 20px;
                .categories{
                    // border: 1px solid gray;
                    box-shadow: 1px 1px 10px rgb(176, 176, 176);
                    border-radius: 10px;
                    width: 20%;
                }
                .carasoul_container{
                    background-color: black;
                    // border: 2px solid red;
                    border-radius: 10px;
                    width: 75%;
                    overflow: hidden;

                    .slick-slider{
                    }
                   .slick-slide{

                   }

                }
            }

            .ongoing_sales_banner{
                // border: 3px solid black;
                margin-top: 50px;
                height: 130px;
                display: flex;
                place-content: center;
                place-items: center;
                .sales_size_manager{
                    // border: 2px solid green;
                    width: 80%;
                    height: 100%;
                     border-radius: 10px;
                    box-shadow: 1px 1px 10px rgb(215, 214, 214);
                    background-image: url('../assets/quicksaleEg1.png');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                }
            }

            // Flash Sale

            .flash_sale_container{
                margin-top: 50px;
                height: 400px;
                h3{
                    color: gray;
                    padding-bottom: 20px;
                    font-size: 28px;
                }
                .flash_size_manager{
                    // border: 5px solid black;
                    height: 100%;
                    background-color: white;
                    border-radius: 10px;
                    
                    .flash_header{
                        display: flex;
                        justify-content: space-between;
                        place-items: center;
                        border-bottom: .5px solid rgb(211, 211, 211);
                        padding: 15px;
                        .title{
                            display: flex;
                            column-gap: 10px;
                            h4{
                                color: rgb(225, 64, 5);
                            }
    
                        }
                        .timer{
                            margin-left: 20px;
                            p{
                                font-size: 15px;
                                span{
                                    background-color: $nav-color;
                                    color: white;
                                    padding: 10px;
                                    margin-left: 5px;
                                    border-radius: 5px;
                                    
                                }
                            }
                        }
                        .shop_more{
                            button{
                                border: 2px solid $nav-color;
                                padding: 10px;
                                color: $nav-color;
                                width: 100px;
                                height: 30px;
                                display: flex;
                                place-content: center;
                                place-items: center;
                                cursor: pointer;
                            }
                        }
                    }
                    .flash_product_listing{
                        // border: 2px solid red;
                        margin-top: 10px;
                        height: 80%;
                        .product_size_manager{
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            height: 100%;
                            .products{
                                height: 100%;
                                line-height: 1.3rem;
                                // border: 2px solid green;
                                width: 188px;
                                border-radius: 5px;
                                padding: 5px;
                                // overflow: hidden;
                                img{
                                    height: 188px;
                                    width: 100%;
                                    max-width: 188px;
                                    padding: 5px;
                                }
                                .product_name{
                                    font-size: 15px;
                                    cursor: pointer;
                                    margin-top: 5px;
                                }
                                .price_tag{
                                    color: $nav-color;
                                    font-weight: bold;

                                }
                                .underline_span{
                                    font-size: 12px;
                                    text-decoration:line-through;
                                    margin-right: 15px;
                                }
                                .discount{
                                    font-size: 13px;
                                }
                                &:hover{
                                    box-shadow: 1px 1px 10px rgb(209, 209, 209);
                                }
                            }
                        }
                    }
                }
            }
        }

    }


    // Login

    .login_main_container{
        height: 80vh;
        width: 100%;
        // border: 5px solid black;
        display: flex;
        place-content: center;
        // place-items: center;
        margin-top: 50px;
        .login_size_manager{
            height: 80%;
            // border: 2px solid green;
            width: 900px;
            // padding: 10px;
            .form_header{
                display: flex;
                justify-content: space-between;
                place-items: center;
                padding: 10px;
                // border: 3px solid orange;
                h3{
                    font-size: 25px;
                    color: $gb-black-text;
                }
                p{
                    font-size: 13px;
                    span{
                        color: rgb(6, 125, 198);
                        cursor: pointer;
                    }
                }
            }
            form{
                // border: 3px solid blue;
                display: flex;
                width: 100%;
                // margin-top: 20px;
                height: 60%;
                background-color: white;
                padding: 20px;
                .left{
                    // border: 5px solid black;
                    width: 60%;

                }
                .right{
                    width: 40%;
                    // border: 5px solid green;
                    font-size: 13px;
                    padding: 15px;
                    // margin-top: 10px;
                    button{
                        height: 50px;
                        width: 100%;
                        font-size: 16px;
                        margin-top: 10px;
                        color: white;
                        cursor: pointer;
                    }
                    .gb_login{
                        background-color: $nav-color;
                        // color: white;
                    }
                    .fb_login{
                        background-color: #3b5998;
                    }
                    .google_login{
                        background-color: #d34836;
                    }
                }
            }
        }
    }


    // form control

    .form_control{
        margin-top: 10px;
        padding: 10px;
        label{
            font-size: 12px;
            color: $gb-black-text;
        }
        input{
            height: 50px;
            width: 100%;
            color: $gb-black-text;
            padding: 10px;
            border: .5px solid rgb(220, 220, 220);
            border-radius: 5px;

            &:focus{
                border: 1px solid $nav-color;
            }
        }
    }
    
    .signup_main_container{
        .login_main_container{
            .left{
                padding: 12px;
            }
            form{
                height: 90%;
                
                .sms_offer{
                    margin-top: 5px;
                    line-height: 1.3;
                    display: flex;
                    column-gap: 5px;
                    color: $gb-black-text;
                    input{
                        height: 20px;
                        width: 20px;
                    }
                }
                .date_gender_control{
                    display: flex;
                    // justify-content: space-between;
                    // border: 2px solid black;
                    .date{
                        width: 80%;
                        .month{
                            width: 100px;
                        }
                        .date_select_boxes{
                            display: flex;
                            column-gap: 5px;
                        }
                    }
                    select{
                        height: 40px;
                        border: 1px solid rgb(215, 215, 215);
                        border-radius: 5px;
                        color: $gb-black-text;
                        
                    }
                }
                .privacy_policy_text{
                    margin-top: 5px;
                    color: $gb-black-text;
                    span{
                        color: rgb(5, 77, 154);
                    }
                }
                .facebook_google_box{
                    display: flex;
                    column-gap: 10px;
                }
            }
        }
    }
}