@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

body {
  background-color: #f5f5f5;
}

button {
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

input {
  border: none;
  outline: none;
}
input:focus {
  outline: none;
}

.daraz_homepage .navigation_main {
  padding: 0px 100px 0px 100px;
  height: 100px;
  background-color: #f85606;
}
.daraz_homepage .navigation_main .navigation_size_manager .top_navigation {
  display: flex;
  position: relative;
  padding: 2px;
  padding-left: 5px;
  justify-content: space-between;
}
.daraz_homepage .navigation_main .navigation_size_manager .top_navigation .left_nav ul {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
  height: 20%;
}
.daraz_homepage .navigation_main .navigation_size_manager .top_navigation .left_nav ul li {
  color: rgb(227, 227, 227);
  font-size: 14px;
  font-weight: 600;
}
.daraz_homepage .navigation_main .navigation_size_manager .top_navigation .save_more button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.daraz_homepage .navigation_main .navigation_size_manager .main_navigation {
  padding: 2px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 10px;
}
.daraz_homepage .navigation_main .navigation_size_manager .main_navigation .navs {
  display: flex;
  place-items: center;
}
.daraz_homepage .navigation_main .navigation_size_manager .main_navigation .logobox img {
  max-height: 50px;
}
.daraz_homepage .navigation_main .navigation_size_manager .main_navigation .search_box {
  width: 60%;
}
.daraz_homepage .navigation_main .navigation_size_manager .main_navigation .search_box input {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
}
.daraz_homepage .navigation_main .navigation_size_manager .main_navigation .login_signup_nav {
  color: white;
}
.daraz_homepage .navigation_main .navigation_size_manager .main_navigation .login_nav, .daraz_homepage .navigation_main .navigation_size_manager .main_navigation .signup_nav {
  padding: 2px;
  display: flex;
  place-items: center;
  border-radius: 8px;
  width: 100px;
  place-content: center;
  height: 40px;
}
.daraz_homepage .navigation_main .navigation_size_manager .main_navigation .login_nav:hover, .daraz_homepage .navigation_main .navigation_size_manager .main_navigation .signup_nav:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.daraz_homepage .navigation_main .navigation_size_manager .main_navigation .login_nav p, .daraz_homepage .navigation_main .navigation_size_manager .main_navigation .signup_nav p {
  color: white;
  display: flex;
  place-items: center;
  font-size: 14px;
}
.daraz_homepage .navigation_main .navigation_size_manager .main_navigation .language span {
  display: flex;
  color: white;
  place-items: center;
}
.daraz_homepage .navigation_main .navigation_size_manager .main_navigation .cart span {
  color: white;
}
.daraz_homepage .main_homepage_container {
  margin-top: 20px;
  height: 450px;
  padding: 0px 100px 0px 100px;
}
.daraz_homepage .main_homepage_container .home_size_manager {
  height: 100%;
}
.daraz_homepage .main_homepage_container .home_size_manager .cat_car {
  height: 100%;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.daraz_homepage .main_homepage_container .home_size_manager .cat_car .categories {
  box-shadow: 1px 1px 10px rgb(176, 176, 176);
  border-radius: 10px;
  width: 20%;
}
.daraz_homepage .main_homepage_container .home_size_manager .cat_car .carasoul_container {
  background-color: black;
  border-radius: 10px;
  width: 75%;
  overflow: hidden;
}
.daraz_homepage .main_homepage_container .home_size_manager .ongoing_sales_banner {
  margin-top: 50px;
  height: 130px;
  display: flex;
  place-content: center;
  place-items: center;
}
.daraz_homepage .main_homepage_container .home_size_manager .ongoing_sales_banner .sales_size_manager {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(215, 214, 214);
  background-image: url("../assets/quicksaleEg1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container {
  margin-top: 50px;
  height: 400px;
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container h3 {
  color: gray;
  padding-bottom: 20px;
  font-size: 28px;
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container .flash_size_manager {
  height: 100%;
  background-color: white;
  border-radius: 10px;
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container .flash_size_manager .flash_header {
  display: flex;
  justify-content: space-between;
  place-items: center;
  border-bottom: 0.5px solid rgb(211, 211, 211);
  padding: 15px;
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container .flash_size_manager .flash_header .title {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container .flash_size_manager .flash_header .title h4 {
  color: rgb(225, 64, 5);
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container .flash_size_manager .flash_header .timer {
  margin-left: 20px;
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container .flash_size_manager .flash_header .timer p {
  font-size: 15px;
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container .flash_size_manager .flash_header .timer p span {
  background-color: #f85606;
  color: white;
  padding: 10px;
  margin-left: 5px;
  border-radius: 5px;
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container .flash_size_manager .flash_header .shop_more button {
  border: 2px solid #f85606;
  padding: 10px;
  color: #f85606;
  width: 100px;
  height: 30px;
  display: flex;
  place-content: center;
  place-items: center;
  cursor: pointer;
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container .flash_size_manager .flash_product_listing {
  margin-top: 10px;
  height: 80%;
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container .flash_size_manager .flash_product_listing .product_size_manager {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container .flash_size_manager .flash_product_listing .product_size_manager .products {
  height: 100%;
  line-height: 1.3rem;
  width: 188px;
  border-radius: 5px;
  padding: 5px;
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container .flash_size_manager .flash_product_listing .product_size_manager .products img {
  height: 188px;
  width: 100%;
  max-width: 188px;
  padding: 5px;
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container .flash_size_manager .flash_product_listing .product_size_manager .products .product_name {
  font-size: 15px;
  cursor: pointer;
  margin-top: 5px;
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container .flash_size_manager .flash_product_listing .product_size_manager .products .price_tag {
  color: #f85606;
  font-weight: bold;
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container .flash_size_manager .flash_product_listing .product_size_manager .products .underline_span {
  font-size: 12px;
  text-decoration: line-through;
  margin-right: 15px;
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container .flash_size_manager .flash_product_listing .product_size_manager .products .discount {
  font-size: 13px;
}
.daraz_homepage .main_homepage_container .home_size_manager .flash_sale_container .flash_size_manager .flash_product_listing .product_size_manager .products:hover {
  box-shadow: 1px 1px 10px rgb(209, 209, 209);
}
.daraz_homepage .login_main_container {
  height: 80vh;
  width: 100%;
  display: flex;
  place-content: center;
  margin-top: 50px;
}
.daraz_homepage .login_main_container .login_size_manager {
  height: 80%;
  width: 900px;
}
.daraz_homepage .login_main_container .login_size_manager .form_header {
  display: flex;
  justify-content: space-between;
  place-items: center;
  padding: 10px;
}
.daraz_homepage .login_main_container .login_size_manager .form_header h3 {
  font-size: 25px;
  color: rgb(83, 83, 83);
}
.daraz_homepage .login_main_container .login_size_manager .form_header p {
  font-size: 13px;
}
.daraz_homepage .login_main_container .login_size_manager .form_header p span {
  color: rgb(6, 125, 198);
  cursor: pointer;
}
.daraz_homepage .login_main_container .login_size_manager form {
  display: flex;
  width: 100%;
  height: 60%;
  background-color: white;
  padding: 20px;
}
.daraz_homepage .login_main_container .login_size_manager form .left {
  width: 60%;
}
.daraz_homepage .login_main_container .login_size_manager form .right {
  width: 40%;
  font-size: 13px;
  padding: 15px;
}
.daraz_homepage .login_main_container .login_size_manager form .right button {
  height: 50px;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
  color: white;
  cursor: pointer;
}
.daraz_homepage .login_main_container .login_size_manager form .right .gb_login {
  background-color: #f85606;
}
.daraz_homepage .login_main_container .login_size_manager form .right .fb_login {
  background-color: #3b5998;
}
.daraz_homepage .login_main_container .login_size_manager form .right .google_login {
  background-color: #d34836;
}
.daraz_homepage .form_control {
  margin-top: 10px;
  padding: 10px;
}
.daraz_homepage .form_control label {
  font-size: 12px;
  color: rgb(83, 83, 83);
}
.daraz_homepage .form_control input {
  height: 50px;
  width: 100%;
  color: rgb(83, 83, 83);
  padding: 10px;
  border: 0.5px solid rgb(220, 220, 220);
  border-radius: 5px;
}
.daraz_homepage .form_control input:focus {
  border: 1px solid #f85606;
}
.daraz_homepage .signup_main_container .login_main_container .left {
  padding: 12px;
}
.daraz_homepage .signup_main_container .login_main_container form {
  height: 90%;
}
.daraz_homepage .signup_main_container .login_main_container form .sms_offer {
  margin-top: 5px;
  line-height: 1.3;
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  color: rgb(83, 83, 83);
}
.daraz_homepage .signup_main_container .login_main_container form .sms_offer input {
  height: 20px;
  width: 20px;
}
.daraz_homepage .signup_main_container .login_main_container form .date_gender_control {
  display: flex;
}
.daraz_homepage .signup_main_container .login_main_container form .date_gender_control .date {
  width: 80%;
}
.daraz_homepage .signup_main_container .login_main_container form .date_gender_control .date .month {
  width: 100px;
}
.daraz_homepage .signup_main_container .login_main_container form .date_gender_control .date .date_select_boxes {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.daraz_homepage .signup_main_container .login_main_container form .date_gender_control select {
  height: 40px;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 5px;
  color: rgb(83, 83, 83);
}
.daraz_homepage .signup_main_container .login_main_container form .privacy_policy_text {
  margin-top: 5px;
  color: rgb(83, 83, 83);
}
.daraz_homepage .signup_main_container .login_main_container form .privacy_policy_text span {
  color: rgb(5, 77, 154);
}
.daraz_homepage .signup_main_container .login_main_container form .facebook_google_box {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.daraz_homepage .each_product_container {
  padding: 0px 100px 0px 100px;
}
.daraz_homepage .each_product_container .product_size_manager {
  width: 100%;
}
.daraz_homepage .each_product_container .product_size_manager .breadcrum_navigation {
  padding: 15px 0px;
}
.daraz_homepage .each_product_container .product_size_manager .breadcrum_navigation a {
  color: #1ab7dc;
  font-weight: lighter;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body {
  background-color: white;
  width: 100%;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body {
  padding: 20px;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager {
  display: flex;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .img_container {
  width: 30%;
  padding: 20px;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .detail_container {
  width: 40%;
  padding: 20px;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .detail_container h4 {
  color: rgb(83, 83, 83);
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .detail_container .pd_rating {
  margin-top: 10px;
  display: flex;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .detail_container .pd_rating p {
  font-size: 12px;
  color: #1ab7dc;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .detail_container .brand_info {
  font-size: 13px;
  color: #1ab7dc;
  margin-top: 10px;
  padding-bottom: 10px;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .detail_container h2 {
  color: #f85606;
  margin-top: 10px;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .detail_container .discount_price {
  font-size: 13px;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .detail_container .discount_price span {
  text-decoration: line-through;
  margin-right: 20px;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .detail_container .promotions {
  margin-top: 20px;
  display: flex;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .detail_container .promotions p {
  font-size: 15px;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .detail_container .promotions p span {
  font-size: 12px;
  background-color: #f85606;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-left: 40px;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .detail_container .quantity {
  margin-top: 40px;
  display: flex;
  place-items: center;
  font-size: 15px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  color: rgb(83, 83, 83);
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .detail_container .quantity button {
  height: 30px;
  width: 30px;
  background-color: rgb(202, 202, 202);
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .detail_container .quantity p {
  font-size: 13px;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .detail_container .buy_and_cart_button {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .detail_container .buy_and_cart_button button {
  height: 40px;
  width: 45%;
  color: white;
  cursor: pointer;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .detail_container .buy_and_cart_button .buy_now {
  background-color: #2abbe8;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .detail_container .buy_and_cart_button .add_to_cart {
  background-color: #f85606;
}
.daraz_homepage .each_product_container .product_size_manager .product_detail_body .detail_body .detail_size_manager .others_details {
  width: 30%;
}/*# sourceMappingURL=index.css.map */